# {{module_name}}

{{description}}

## Example Syntax


```yaml
{{{ example }}}
```
### Available parameters:
&nbsp;

| Name | Required | Description |
| :--- | :---: | :--- |
{{#states_parameters}}
| {{name}}<br /><span>\<{{type}}\></span> | {{required}} | {{description}}{{#hasDefault}}<br />Default: {{default}}{{/hasDefault}}{{#hasChoices}}<br />Options: {{choices}}{{/hasChoices}} |
{{/states_parameters}}
