# {{module_name}}

{{description}}

## Example Syntax


```yaml
{{{ example }}}
```

{{#return_example}}
&nbsp;

&nbsp;
## Returned object
```json
{{{ return_example }}}
```
{{/return_example}}
{{^return_example}}
{{/return_example}}

&nbsp;
### For more examples please check out the tests [here](https://github.com/ionos-cloud/module-ansible/tree/master/tests/{{directory}}).

&nbsp;
### Available parameters:
&nbsp;

<table data-full-width="true">
  <thead>
    <tr>
      <th width="22.8vw">Name</th>
      <th width="10.8vw" align="center">Required</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  {{#states_parameters}}
  <tr>
  <td>{{name}}<br/><mark style="color:blue;">{{type}}</mark></td>
  <td align="center">{{required}}</td>
  <td>{{description}}{{#hasDefault}}<br />Default: {{default}}{{/hasDefault}}{{#hasChoices}}<br />Options: {{choices}}{{/hasChoices}}</td>
  </tr>
  {{/states_parameters}}
  </tbody>
</table>
