# {{module_name}}

{{description}}

## Example Syntax


```yaml
{{{ example }}}
```

{{#return_example}}
&nbsp;

&nbsp;
## Returned object
```json
{{{ return_example }}}
```
{{/return_example}}
{{^return_example}}
{{/return_example}}

&nbsp;

&nbsp;

{{#states_parameters}}
# state: **{{ state }}**
```yaml
  {{{ example }}}
```
### Available parameters for state **{{ state }}**:
&nbsp;

<table data-full-width="true">
  <thead>
    <tr>
      <th width="140">Name</th>
      <th width="87" align="center">Required</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  {{#parameters}}
  <tr>
  <td>{{name}}<br/><mark style="color:blue;">{{type}}</mark></td>
  <td align="center">{{required}}</td>
  <td>{{description}}{{#hasDefault}}<br />Default: {{default}}{{/hasDefault}}{{#hasChoices}}<br />Options: {{choices}}{{/hasChoices}}</td>
  </tr>
  {{/parameters}}
  </tbody>
</table>

&nbsp;

&nbsp;
{{/states_parameters}}
