# Datacenter

{{description}}

## Example Syntax


```yaml
{{{ example }}}
```
&nbsp;

&nbsp;

{{#states}}

## Parameters for state **{{ state }}**

  | Name | Required | Type | Default | Description |
  | :--- | :---: | :--- | :--- | :--- |
  {{#parameters}}
  | {{name}} | {{required}} | {{type}} | {{default}} | {{description}} |
  {{/parameters}}
&nbsp;

&nbsp;

{{/states}}