    - name: Remove {{ module_name }}
      {{ module_name }}:
        {{module_name}}: {{ module_name }}_present_replace_response.{{ module_name }}.id
{{#dependencies}}
        {{.}}: "{{double_curl_open}} {{.}} {{double_curl_close}}"
{{/dependencies}}
        state: absent
        wait: true

    - name: Remove {{ module_name }}
      {{ module_name }}:
        {{module_name}}: {{ module_name }}_present_replace_response.{{ module_name }}.id
{{#dependencies}}
        {{.}}: "{{double_curl_open}} {{.}} {{double_curl_close}}"
{{/dependencies}}
        state: absent
        wait: true
