# vim: ts=2: sw=2: ai: si
# CI workflow

name: CI

on:
    workflow_dispatch:
    pull_request:
        types: [ assigned, opened, synchronize, reopened ]
    push:
      branches: [ release/v6 ]

jobs:

  test:

    name: Testing the Ansible Module
    env:
        python-version: 3.8.0
        ionoscloud-version: 6.0.0b1
        ANSIBLE_LIBRARY: /home/runner/work/module-ansible/module-ansible/plugins/modules
        IONOS_USERNAME: ${{ secrets.IONOS_VDC_USER }}
        IONOS_PASSWORD: ${{ secrets.IONOS_VDC_PASSWORD }}

    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    outputs:
        python-version: ${{ env.python-version }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python ${{ env.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.python-version }}

      - name: Setup pip, virtualenv, ionoscloud
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install ionoscloud

      - name: Install Ansible
        run: |
            python3 -m pip install ansible

      - name: Debug pip packages
        run: |
          python3 -m pip list

      - name: Run Postgres Cluster test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/postgres-cluster-test.yml

      - name: Run Datacenter test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/datacenter-test.yml

      - name: Run Backupunit test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/backupunit-test.yml
          
      - name: Run Nic Flowlog test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/nic-flowlog-test.yml

      - name: Run Firewall test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/firewall-test.yml

      - name: Run IP Block test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/ipblock-test.yml

      - name: Run LAN test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/lan-test.yml

      - name: Run Nic test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/nic-test.yml

      - name: Run PCC test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/pcc-test.yml

      - name: Run S3key test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/s3key-test.yml

      - name: Run Server test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/server-test.yml

      - name: Run Snapshot test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/snapshot-test.yml

      - name: Run Template test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/template-test.yml

      - name: Run Volume test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/volume-test.yml

      - name: Run NAT Gateway test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/nat-gateway-test.yml -vvv

      - name: Run NAT Gateway Flowlog test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/nat-gateway-flowlog-test.yml

      - name: Run NAT Gateway Rule test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/nat-gateway-rule-test.yml

      - name: Run Attach Volume test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/attach-volume-test.yml

      - name: Run Kubeconfig test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/k8s-config-test.yml

      - name: Run K8s Cluster test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/k8s-cluster-test.yml

      - name: Run K8s Nodepool test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/k8s-cluster-nodepool-test.yml

      - name: Run User test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/user-test.yml

      - name: Run Group test
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/group-test.yml

