name: Publish

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to publish (e.g. 1.2.3)'
        required: true
      test:
        description: 'Whether to run tests or not'
        required: true
        default: 'yes'
      ansible-repo:
        required: true
        description: 'Ansible repo to publish the Module to (galaxy or galaxy-dev)'
        default: 'galaxy-dev'


jobs:
  test:
    name: Testing the Ansible Module
    env:
        python-version: 3.8.0
        ANSIBLE_LIBRARY: /home/runner/work/module-ansible/module-ansible/plugins/modules
        IONOS_USERNAME: ${{ secrets.IONOS_VDC_USER }}
        IONOS_PASSWORD: ${{ secrets.IONOS_VDC_PASSWORD }}

    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    outputs:
        python-version: ${{ env.python-version }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      - name: Checkout
        uses: actions/checkout@v2
        with:
            ref: fix/remove-dhcp-default-value-v5

      - name: Setup Python ${{ env.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.python-version }}

      - name: Setup pip, virtualenv, ionoscloud
        run: |
         python3 -m pip install --upgrade pip
         python3 -m pip install ionoscloud

      - name: Install Ansible
        run: |
           python3 -m pip install ansible

      - name: Debug pip packages
        run: |
         python3 -m pip list

      - name: Run Datacenter tests
        if: github.event.inputs.test == 'yes'
        run: |
         ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/datacenter-test.yml

      - name: Run Backupunit tests
        if: github.event.inputs.test == 'yes'
        run: |
         ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/backupunit-test.yml

      - name: Run Firewall test
        if: github.event.inputs.test == 'yes'
        run: |
         ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/firewall-test.yml

      - name: Run IP Block test
        if: github.event.inputs.test == 'yes'
        run: |
         ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/ipblock-test.yml

      - name: Run LAN test
        if: github.event.inputs.test == 'yes'
        run: |
         ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/lan-test.yml

      - name: Run Nic test
        if: github.event.inputs.test == 'yes'
        run: |
         ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/nic-test.yml

      - name: Run PCC test
        if: github.event.inputs.test == 'yes'
        run: |
         ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/pcc-test.yml

      - name: Run S3key test
        if: github.event.inputs.test == 'yes'
        run: |
         ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/s3key-test.yml

      - name: Run Server test
        if: github.event.inputs.test == 'yes'
        run: |
         ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/server-test.yml

      - name: Run Snapshot test
        if: github.event.inputs.test == 'yes'
        run: |
         ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/snapshot-test.yml

      - name: Run Volume test
        if: github.event.inputs.test == 'yes'
        run: |
         ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/volume-test.yml

      - name: Run Attach Volume test
        if: github.event.inputs.test == 'yes'
        run: |
          ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/attach-volume-test.yml

      - name: Run Kubeconfig test
        if: github.event.inputs.test == 'yes'
        run: |
         ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/k8s-config-test.yml

      - name: Run K8s Cluster test
        if: github.event.inputs.test == 'yes'
        run: |
         ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/k8s-cluster-test.yml

      - name: Run K8s Nodepool test
        if: github.event.inputs.test == 'yes'
        run: |
         ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/k8s-cluster-nodepool-test.yml

      - name: Run User test
        if: github.event.inputs.test == 'yes'
        run: |
         ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/user-test.yml

      - name: Run Group test
        if: github.event.inputs.test == 'yes'
        run: |
         ansible-playbook /home/runner/work/module-ansible/module-ansible/tests/group-test.yml


  publish:
      name: Publishing the Module
      runs-on: ubuntu-latest
      needs: [test]
      steps:

        - name: Checkout
          uses: actions/checkout@v2
          with:
            ref: master

        - name: Build Ansible Collection
          run: |
            ansible-galaxy collection build
            ls

        - name: Deploy Ansible collection to Galaxy-Dev
          if: github.event.inputs.ansible-repo == 'galaxy-dev'
          run: |
            ls
            ansible-galaxy collection publish ionoscloudsdk-ionoscloud-${{ github.event.inputs.version }}.tar.gz --server https://galaxy-dev.ansible.com/ --api-key ${{ secrets.ANSIBLE_GALAXYDEV_API_KEY }}

        - name: Deploy Ansible collection to Galaxy
          if: github.event.inputs.ansible-repo == 'galaxy'
          run: ansible-galaxy collection publish ionoscloudsdk-ionoscloud-${{ github.event.inputs.version }}.tar.gz --api-key ${{ secrets.ANSIBLE_GALAXY_API_KEY }}
